:root {

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424; */

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(249, 251, 250);
}

#workspace {
  top: 50%;
  left: 20px;
  height: 800px;
  width: 600px;
  position: fixed;
  z-index: 1;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#playground {
  height: 400px;
  width: 600px;
  border: 1px solid #222222;
}

.terminal {
  height: 400px;
  width: 600px;
  border: 1px solid #222222;
}

#docs {
  margin-left: 630px;
  padding: 20px;
  background-color: white;
}

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}


.hljs {
    background: rgb(246, 248, 250) !important;
  }